daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=10.200.108.69:9910 -cvauth=token-secure,/tmp/token -cvvrf=MGMT -disableaaa -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent -taillogs
   no shutdown
!